<div class="section-header clearfix">
  {{#if header}}
    {{#if website}}
      <h5 class="w3-opacity"><b>{{header}}</b> /
        <a style="text-decoration-line: none;" href="{{website}}" target="_blank">
          <i>{{subheader}} </i><i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </h5>
    {{else}}
      <h5 class="w3-opacity"><b>{{header}} / <i>{{subheader}}</i></b></h5>
    {{/if}}
  {{/if}}
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
    {{#if startDate}}
      {{formatDate startDate}}
      {{#if endDate}}
        - {{formatDate endDate}}
      {{else}}
        - <span class="w3-tag w3-teal w3-round">Current</span>
      {{/if}}
    {{else if releaseDate}}
      {{formatDate releaseDate}}
    {{/if}}
    {{#if duration}}
      <span class="w3-text-gray"><i class="fa fa-clock-o fa-fw w3-margin-left"></i> {{duration}}</span>
    {{/if}}
    {{#if gpa}}
      <span class="w3-text-gray"><i class="fa fa-certificate fa-fw w3-margin-left"></i> Grade Earned: {{gpa}}</span>
    {{/if}}
  </h6>
</div>
